{{!-- <div>
  {{#each products}}
    <div class="gallery" id="products">
      {{#each thumbnails}}
        <img src="{{this}}" alt="" />
      {{/each}}
      <h2>{{this.title}}</h2>
      <p>{{this.description}}</p>
    </div>
  {{/each}}
</div> --}}

<html>
<head>
    <title></title>
        <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
  <h1>Bienvenido {{user.name}}</h1>
  <h1>Tu perfil (sin datos sensibles)</h1>
  <p>{{user.name}}</p>
  <p>{{user.email}}</p>
  <p>{{user.age}}</p>
</div>
<div class="row">
  <div class="col-sm-12">
    {{#each products2}}
    <div class="gallery-home">
      <div class="card" style="width: 18rem;">
        <img src="{{this.thumbnails.[0]}}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.price}}</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      </div>
    {{/each}}
  </div>
</div>


    <a href="/"><button>Anterior</button></a>




</body>
</html>
